@import url('https://fonts.googleapis.com/css2?family=Lora&family=Press+Start+2P&display=swap');

body {
    background-color: black;
}


.sidebar {
    background-color: rgb(107, 146, 146);
    
}

.navg a {
    text-decoration: none;
}

.navg a:hover {
    color: beige;
}

.navg:hover {
    background-color: rgb(218, 131, 131);
    
}

.sideLinks {
    color: white;
   
}

.headline {
    color: rgb(255, 187, 0);
    font-family: 'Lora', serif;
}

.subheadline {
    font-family: 'Lora', serif;
}

.item-pix h6 {
    color:rgb(65, 63, 63);
}

.faq {
    background-color: rgb(224, 224, 224);
}

.home {
    background-color: rgb(218, 131, 131);
    border-radius: 2px;
}